{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h5><b>Create Your Visualization With Think AI</b></h5>
    <br>
    <br>
    <form id="contentForm" action="{% url 'visualize' %}" method="POST" onsubmit="handleFormSubmit(event)">
        {% csrf_token %}
        <select class="form-control t" name="type" id="">
            <option value="Any Type">Select Type</option>
            <option value="Cartoon">Cartoon</option>
            <option value="Must Be Realistic">Real Image</option>
        </select>
        <br>
        <br>
        <input name="description" class="form-control d" type="text" placeholder="Write Your Imagination Then See The Magic">
        <br>
        <input id="submitButton" class="form-control s" type="submit" value="Create & Download">
    </form>
    <div id="loading" style="display: none;">
        <div class="progress" style="height: 29px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width: 0%; height: 29px;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Creating it may
                take up to 5 minutes</div>
        </div>
    </div>
    <!-- Your HTML content -->
    <br>
    <br>
    {% if generated_logos %}
    <div class="row">
        {% for logo in generated_logos %}
        <div class="col-md-4">
            <img src="{{ logo.url }}" alt="Visualize" class="img-fluid">
        </div>
        <br>
        <br>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Other HTML elements -->

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function handleFormSubmit(event) {
        event.preventDefault();
        $('#submitButton').hide();
        $('#loading').show();
        document.getElementById('contentForm').submit();

        // Simulate a delay (replace this with your actual content generation logic)
        var progress = 0;
        var interval = setInterval(function () {
            progress += 10;
            $('.progress-bar').css('width', progress + '%').attr('aria-valuenow', progress);
            if (progress >= 100) {
                clearInterval(interval);
            }
        }, 500); // Change this interval to match your content generation time
    }
</script>
{% endblock content %}